<!DOCTYPE html>
<html lang="en">
<head>
    <title>Title</title>
</head>
<body>

<header class="clearfix">

    <authentication property="name" />

    <div class="container">
        <div class="header-right">

            <nav>
                <div class="letter">
                    <a href="home">Home</a>
                    <sauthorize access="!isAuthenticated()">
                        <a href="loginpage">login</a>
                        <a href="registration">registration</a>
                    </sauthorize>


                </div>
            </nav>
        </div>
    </div>

</header>
</body>
</html>